@model IEnumerable<DailyScrumBag.Repository.Models.Post>
@*Erik - 10/9/2017 Depricated - Moved to _ViewStart to allow Ajax partial page rendering*@
@*@{
        Layout = "_Layout";
    }*@
<div class="featured-slides-callout">
    @await (Component.InvokeAsync<DailyScrumBag.ViewComponents.FeaturedSlideViewComponent>())
</div>

<aside id="recent-posts-2" class="widget widget_recent_entries">
    <h1 class="widget-title">@Html.ActionLink("From The Blog", "", "Blog")</h1>
    <a href="@Url.Action("", "Blog")" class="see-all-link">See all blog entries</a>
    <ul class="recent_entries-list">
        @if (Model != null)
        {
            @foreach (var post in Model)
            {
                @Html.Partial("_RecentPost", post)
            }

        }

    </ul>
    <a class="more-link" href="@Url.Action("", "Blog")">
            <span class="meta-nav">←</span> Older posts
        </a>
</aside>
