<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>

        <center>
            <table id="m_-2721673921015144461bodyTable" width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td id="m_-2721673921015144461bodyCell" valign="top" align="center">


                            <table class="m_-2721673921015144461templateContainer" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td id="m_-2721673921015144461templatePreheader" valign="top">
                                            <table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateHeader" valign="top">
                                            <table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent" style="text-align:center;padding:40px"><img src="https://github.com/butcer0/DailyScrumBag/blob/master/DailyScrumBagHeaderLogo.png?raw=true" alt="DailyScrumBagHeaderLogo.png" class="CToWUd" width="55%"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent" style="background:#13bf99;text-align:center;padding:2px"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateBody" valign="top">
                                            <table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px" valign="top">

                                                                            <p>
                                                                                <span style="font-size:16px"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><strong>Hi <a href="mailto:{0}" target="_blank">{0}</a></strong></span></span><br>
                                                                                &nbsp;
                                                                            </p>

                                                                          {1}

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding:0px 18px 9px;color:#37454e;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif" valign="top">

                                                                            <div class="m_-2721673921015144461content">
                                                                               
                                                                                <hr style="border:0;border-bottom:#e5eaec 1px solid"><br>
                                                                                <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                                                    Cheers,<br>
                                                                                    DailyScrumBag Team
                                                                                </span>

                                                                                <div style="text-align:left"><a href="http://dailyscrumbag.com"><span style="color:#13bf99"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">https://www.dailyscumbag.com</span></span></a></div>

                                                                                <div style="text-align:right"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="font-size:12px"><span style="color:#aab9c2">This is an automated message, please do not reply</span></span></span></div>

                                                                                <p style="color:#37454e;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif">&nbsp;</p>
                                                                            </div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateFooter" valign="top">
                                            <table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px" valign="top">

                                                                            <p><span style="color:#5e6c75">© Copyright 2018 DailyScrumBag - All Rights Reserved</span></p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>