<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <center>
            <table id="m_-2721673921015144461bodyTable" width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px">
                <tbody>
                    <tr>
                        <td id="m_-2721673921015144461bodyCell" valign="top" align="center">
                            <table class="m_-2721673921015144461templateContainer" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td id="m_-2721673921015144461templatePreheader" valign="top">
                                            <table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateHeader" valign="top">
                                                <table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                            <tr>
                                                                <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                                    <div class="m_-2721673921015144461mcnTextContent" style="background:#13bf99;text-align:center;padding:2px"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            <table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent" style="text-align:center;padding:40px"><img src="https://github.com/butcer0/DailyScrumBag/blob/master/DailyScrumBagHeaderLogo.png?raw=true" alt="DailyScrumBagHeaderLogo.png" class="CToWUd" width="100%" style="max-width:400px" ></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnCodeBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" valign="top">
                                                            <div class="m_-2721673921015144461mcnTextContent" style="background:#13bf99;text-align:center;padding:2px"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateBody" valign="top">
                                            <table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px" valign="top">

                                                                            <p>
                                                                                <span style="font-size:16px"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><strong>Hi <a href="mailto:{0}" target="_blank">{0}</a></strong></span></span><br>
                                                                                &nbsp;
                                                                            </p>

                                                                            <p>
                                                                                New device access.<br>
                                                                                <br>
                                                                                A device or location we haven't seen before, or for some time, is requesting access to your account:
                                                                            </p>

                                                                            <ul>
                                                                                <li>IP Address: {1}</li>
                                                                                <li>Platform: {2}</li>
                                                                            </ul>

                                                                            <p>
                                                                                <br>
                                                                                If you approve of this action, please click the link below to authorize this device.
                                                                            </p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnButtonBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnButtonBlockOuter">
                                                    <tr>
                                                        <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" class="m_-2721673921015144461mcnButtonBlockInner" valign="top" align="center">
                                                            <table class="m_-2721673921015144461mcnButtonContentContainer" style="border-collapse:separate!important;border-radius:3px;background-color:#2baadf" cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="m_-2721673921015144461mcnButtonContent" style="font-family:Arial;font-size:16px;padding:15px" valign="middle" align="center">
                                                                            <a class="m_-2721673921015144461mcnButton" title="ACTIVATE THE DEVICE" href="http://dailyscrumbag.com/verify/confirmDevice?token={3}" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff" target="_blank">ACTIVATE THE DEVICE</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding:0px 18px 9px;color:#37454e;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif" valign="top">

                                                                            <div class="m_-2721673921015144461content">
                                                                                <p style="color:#37454e;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif">Note that you need to access this email with the same device that you are confirming.</p>

                                                                                <hr style="border:0;border-bottom:#e5eaec 1px solid"><br>
                                                                                <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                                                    Cheers,<br>
                                                                                    DailyScrumBag Team
                                                                                </span>

                                                                                <div style="text-align:left"><a href="http://dailyscrumbag.com"><span style="color:#13bf99"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">https://www.dailyscumbag.com</span></span></a></div>

                                                                                <div style="text-align:right"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="font-size:12px"><span style="color:#aab9c2">This is an automated message, please do not reply</span></span></span></div>

                                                                                <p style="color:#37454e;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif">&nbsp;</p>
                                                                            </div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="m_-2721673921015144461templateFooter" valign="top">
                                            <table class="m_-2721673921015144461mcnTextBlock" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-2721673921015144461mcnTextBlockOuter">
                                                    <tr>
                                                        <td class="m_-2721673921015144461mcnTextBlockInner" style="padding-top:9px" valign="top">



                                                            <table style="max-width:100%;min-width:100%" class="m_-2721673921015144461mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="m_-2721673921015144461mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px" valign="top">

                                                                            <p><span style="color:#5e6c75">© Copyright 2018 DailyScrumBag - All Rights Reserved</span></p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>



                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>